h1 a {
    color: #FCA205;
}

body {
    padding-left: 15px;
}

/* navigation */
nav.primary ul,
nav.primary ul li {
    margin: 0px;
}

nav.primary ul li {
    display: inline;
    float: left;
    position: relative;
}

nav.primary ul li a {
    display: inline-block;
    line-height: 40px;
    margin: 5px;
    padding: 0 14px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
}

nav.primary ul li a.button-primary {
    line-height: 40px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.08em;
}

nav.primary ul li a:hover {
    line-height: 40px;
    background-color: #1EAEDB;
    cursor: pointer;
}

.cat_list ul li {
    display: block;
}
.cat_detail ul li{
    display: block;
}

.requirement_list ul li {
    display: block;
}

.requirement_detail span.category {
    text-decoration: underline;
}

select#id_requirements {
    width: 750px;
    height: 100px;
    overflow: auto;
    white-space:pre;
    /*text-overflow:ellipsis;*/
    /*-webkit-appearance: none;*/
}
select#id_requirements option {
    word-wrap: break-word;
}
