{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>ASVS Levels</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/levels.css" %}">

</head>
<body>
{% block menu %}
<ul>
    <li><a href="/level/1">Level 1</a></li>
    <li><a href="/level/2">Level 2</a></li>
    <li><a href="/level/3">Level 3</a></li>
    <li><a href="/category">Categories</a></li>
</ul>

{% endblock menu %}
{% block content %}
{% endblock %}

</body>
</html>