{% extends "base.html" %}
{% load markdown_markup %}

{% block content %}
<div class="container requirement_detail">
    <p>
        <span
                class="category"><a
                href="{% url 'category_list' category.category_number %}">
            {{ category }}</a></span><br />
        <span class="requirement">
        <strong>#{{ requirement.requirement_number|title }}</strong>
        {{ requirement.requirement_title }}</span>
    </p>
    <p>
        <strong>Level</strong>: {{ level }}
    </p>
    {% for item in annotations %}
        <h2>{{ item.annotation_type|title }}</h2>
        <p>{{ item.help_text|md }}</p>
    {% endfor %}
</div>
{% endblock content %}
